/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #00aeef;
  --vp-c-brand-2: #33c3ff;
  --vp-c-brand-3: #008ec3;
  --vp-c-brand-soft: #33c3ff;

  --vp-c-tip-1: #FFFFFF;
  --vp-c-tip-2: #FFFFFF;
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: #fff200;
  --vp-c-warning-2: #fff200;
  --vp-c-warning-3: #fff200;
  --vp-c-warning-soft: #fefbbd;

  --vp-c-danger-1: #c82333;
  --vp-c-danger-2: #c82333;
  --vp-c-danger-3: #c82333;
  --vp-c-danger-soft: #c82333;

  --vp-c-text-1: black;
  --vp-c-text-2: #777777;
  --vp-custom-block-tip-bg: var(--vp-c-brand-3) !important;
  --vp-custom-block-tip-text: white !important;
  --vp-code-color: var(--vp-c-brand-3) !important;
 }

.dark {
  --vp-c-text-1: #eeeeee;
  --vp-c-text-2: #aaaaaa;
  --vp-c-divider: var(--vp-c-text-1) !important;
  --vp-custom-block-tip-text: black;
  --vp-custom-block-tip-bg: var(--vp-c-brand-3) !important;
  --vp-custom-block-tip-text: white !important;
  --vp-c-bg-soft: #222222;
}

.DocSearch span{
  color: var(--vp-c-text-1) !important;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);

  --vp-button-alt-text: var(--vp-c-white) !important;
  --vp-button-alt-bg: #2e8b57;
  --vp-button-alt-hover-bg: #3cb371;
  --vp-button-alt-hover-text: var(--vp-c-white) !important;

  --vp-button-alt-active-bg: #3cb371;
  --vp-button-alt-active-text: var(--vp-c-white) !important;

  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}


/**
 * Layouts
 * -------------------------------------------------------------------------- */

 :root {
  --vp-layout-max-width: 1740px;
  --vp-sidebar-width: 272px;
  overflow-y: scroll;
}

.content-container {
  max-width: 900px !important;
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
  Code block
*/
:root {
--vp-code-tab-divider: var(--vp-code-block-divider-color);
--vp-code-tab-text-color: #DDD;
--vp-code-tab-bg: var(--vp-c-brand-3);
--vp-code-tab-hover-text-color: white;
--vp-code-tab-active-text-color: white;
--vp-code-tab-active-bar-color: white;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.custom-homepage {
  background-image: url('/assets/home-bg.webp');
  background-color: black;
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  height: fit-content;
}

.custom-homepage .main,.tagline,header {
  color: white !important;
}

.custom-homepage header span {
  color: white;
}

.custom-homepage header .VPSocialLink {
  color: white !important;
}

.custom-homepage .main {
  backdrop-filter: blur(16px) contrast(20%) saturate(16) opacity(0.8);
  background-color: rgba(0,0,0,0.5);
  border-radius: 16px;
  border: 1px;
  padding: 1em;
  padding-top: 1.5em;
  text-align: center;
}

.custom-homepage .main > .name {
  border-radius: 16px;
  border: 1px;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
}

.custom-homepage .main > .text {
  font-size: 2em !important;
}

.custom-homepage .main > .actions {
  justify-content: center !important;
}

.custom-homepage .VPNavBar:not(.has-sidebar):not(.home.top) {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(16px) contrast(40%) !important;
}

.VPNavBarMenuLink {
  font-size: 16px !important;
}

.storytelling-img {
  width: 420px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 4px solid black
}

.doc-img {
  width: 620px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
}

.wip-label {
  padding: 0.3em 0.3em;
  font-size: 1em;
  margin-left: 0.3em;
  border-radius: 6px;
  color: black;
  background-color: var(--vp-c-warning-1);
}

/**
TODO: remove after full docs
*/
.main-wip-label:hover {
  background-color: #fefbbd;
}